@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,800&display=swap');



body
{
  font-size: .9em;
  
}


p, modal-body, card-body, label {
	color: #555;
	font-family: "Muli", sans-serif;
	font-weight: 300;
	font-size: 16px;
}

a {
	color: #078850;
}

h1 {
	color: #2497be;
	font-family: "Muli", sans-serif;
	font-weight: 300;
	font-size: 4em;
	margin-bottom: 0px;
}

h2 {
	color: #555;
	font-family: "Muli", sans-serif;
	font-weight: 200;
	font-size: 1.5em;
	margin-bottom: 0px !important;
}

h2 b {
	font-weight: 500;
	color: #2497be;
}

h3, h5, .card-header {
	color: #555;
	font-family: "Muli", sans-serif;
	font-weight: 200;
	font-size: 1em;
}

h3 b, h5.modal-title b, .card-header b {
	font-weight: 500;
	color: #2497be;
}

h3 i.fas, h5.modal-title i.fas, .card-header i.fas {
	color: #555;
	margin-left: 5px;
	font-size: 0.9em;
}

#creator-protect-logo
{
  margin-bottom: 0px;
}

#creator-protect-logo img
{
  margin-bottom: 5.5px;
  width: 200px;
}

#creator-protect-logo span
{
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
  margin-left: 7px;
}

@media (max-width: 767px) 
{
  #creator-protect-logo img
  {
    margin-bottom: 3px;
    width: 150px;
    margin-left: 15px;
  }
  
  #creator-protect-logo span
  {
    display: inline-block;
    font-size: 1 em;
    margin-left: 7px;
  }
  
}

.creator-bullet
{
  margin-left: 48px;
  margin-bottom: 3px;
  font-size: 1em;
}

.creator-bullet i
{
  margin-right: 5px;
  width: 15px;
}

.blue-button {
	display: inline-block;
	width: auto;
	height: 45px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 5px;
	background-color: #2497be;
	color: #fff;
	font-family: "Muli", sans-serif;
	font-weight: 300;
}

.blue-button:hover {
	background-color: #47aacb;
	text-decoration: none;
	color: #fff;
}

.blue-button.btn {
	width: 100%;
	padding-top: 10px;
	font-size: 1.1em;
}

@media (max-width: 767px) {
	.blue-button {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.icon-blocks .fal {
	font-size: 2.8em;
	color: #adadad;
}

.icon-blocks .description {
	color: #555;
	text-align: center;
}

.icon-blocks .horiz .fal {
	margin-top: 3px;
}

.icon-blocks .horiz .description {
	color: #555;
	text-align: left;
	font-size: 1.05em;
}

#only-one-box
{
  border-radius: 4px;
  border: thin solid #b6b6b6;
  margin-left: 0px;
  margin-right: 0px;
  height: 70px;
}

#only-one-box .fa-gem
{
  font-size: 2em;
  color: #b6b6b6;
}

#only-one-box p
{
  font-size: .85em;
  color: #696969;
  margin-bottom: 0px;
}

.card {
  -webkit-box-shadow: 0px 0px 10px 1px rgba(184,184,184,0.55);
-moz-box-shadow: 0px 0px 10px 1px rgba(184,184,184,0.55);
box-shadow: 0px 0px 10px 1px rgba(184,184,184,0.55);
}

.card p {
	margin-bottom: 4px;
}

@media (max-width: 767px) {
	.card {
		margin-top: 50px !important;
	}
}

#footer p.links {
	font-size: 0.8em;
	color: #6d6d6d;
}

#footer p.links a {
	color: #6d6d6d;
}

#footer p.copyright {
	font-size: 0.8em;
	color: #6d6d6d;
}


@media (max-width: 767px) {
	#footer p.copyright {
		float: left;
	}

	.text-center-on-mobile {
		text-align: center;
	}
}

.margin-top-5 {
	margin-top: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-15 {
	margin-top: 15px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-top-35 {
	margin-top: 35px;
}

.margin-top-40 {
	margin-top: 40px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-top-60 {
	margin-top: 60px;
}

.margin-top-75 {
	margin-top: 75px;
}

.margin-top-100 {
	margin-top: 100px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-35 {
	margin-bottom: 35px;
}

.margin-bottom-40 {
	margin-bottom: 40px;
}

.margin-bottom-50 {
	margin-bottom: 50px;
}

.margin-bottom-100 {
	margin-bottom: 100px;
}

@media (max-width: 767px) {
	.margin-top-100 {
		margin-top: 70px;
	}

	.margin-bottom-100 {
		margin-bottom: 70px;
	}

	.margin-top-20-xs {
		margin-top: 12px;
	}
	
	.margin-top-40-xs {
		margin-top: 40px;
	}
	
	.margin-top-30-xs {
		margin-top: 30px;
	}

	.margin-bottom-30-xs {
		margin-bottom: 32px;
	}
}

@media (max-width: 991px) {
	.margin-top-40-md {
		margin-top: 40px !important;
	}
}

span.avoid-wrap {
	display: inline-block;
}